---
import AutoGrid from '../components/AutoGrid.astro';
import Button from '../components/Button.astro';
import Title from '../components/Title.astro';
import LayoutBasic from '../layouts/LayoutBasic.astro';
---

<LayoutBasic>
    <div class="flex flex-col sm:gap-4 gap-2 max-w-3xl w-full p-4">
        <div
            class="flex h-fit w-full dark:bg-dark-2 bg-light-2 rounded-3xl p-8 justify-center items-center gap-4"
        >
            <img
                alt="Icon"
                class="h-16 w-16 rounded-lg select-none"
                src="/icon.webp"
            />
            <Title
                createAnchor={false}
                heading="1"
                title="Better than Nicholas"
            />
        </div>
        <AutoGrid
            desktopGap="sm:gap-4"
            desktopGrid="projects-desktop:grid-cols-[repeat(auto-fit,minmax(10rem,1fr))]"
            mobileGap="gap-2"
            mobileGrid="grid-cols-[repeat(auto-fit,minmax(10rem,1fr))]"
        >
            <Button
                href="/register"
                icon="/sign-in.svg"
                iconAlt="Icon that described signing in"
                target="_self"
                title="Register"
            />
            <Button
                href="/members"
                icon="/people.svg"
                iconAlt="Icon of people"
                target="_self"
                title="Members"
            />
            <Button
                href="/manifesto"
                target="_self"
                title="Manifesto"
            />
            <Button
                href="https://discord.gg/MvS32B7WR9"
                icon="/discord.svg"
                iconAlt="Discord logo"
                target="_blank"
                title="Discord"
            />
        </AutoGrid>
    </div>
</LayoutBasic>
