---
import AutoGrid from '../components/AutoGrid.astro';
import Block from '../components/Block.astro';
import Button from '../components/Button.astro';
import Member from '../components/Member.astro';
import Text from '../components/Text.astro';
import Title from '../components/Title.astro';
import LayoutNormal from '../layouts/LayoutNormal.astro';
---

<LayoutNormal title="Members">
    <Block>
        <Title
            heading="1"
            title="BTN Members"
        />
        <Text
            >Meet the members of the Better than Nicholas movement. Together, we will succeed.</Text
        >
    </Block>
    <Block>
        <Title
            heading="2"
            title="Not a member yet?"
        />
        <Button
            href="https://discord.gg/MvS32B7WR9"
            icon="/discord.svg"
            iconAlt="Discord logo"
            target="_blank"
            title="Join the Discord server"
        />
    </Block>
    <Block>
        <Title
            heading="2"
            title="Members"
        />
        <AutoGrid
            desktopGap="sm:gap-8"
            desktopGrid="sm:grid-cols-[repeat(auto-fit,minmax(20rem,1fr))]"
            mobileGap="gap-4"
            mobileGrid="grid-cols-[repeat(auto-fit,minmax(min-content,1fr))]"
        >
            <div class="rounded-full bg-light-2 p-4 dark:bg-dark-2 w-full" id="member-list">
                <div class="flex items-center gap-4 justify-start w-full h-full">
                    <img
                        alt={`Example profile picture`}
                        class="sm:h-14 sm:w-14 h-12 w-12 select-none rounded-full"
                        src="https://cdn.discordapp.com/embed/avatars/5.png"
                    />
                    <span class="h3 truncate">You?</span>
                </div>
            </div>
        </AutoGrid>
    </Block>
    <script>
        import '../scripts/members.js';
    </script>
</LayoutNormal>
