---
import AutoGrid from '../components/AutoGrid.astro';
import Block from '../components/Block.astro';
import Member from '../components/Member.astro';
import Text from '../components/Text.astro';
import Title from '../components/Title.astro';
import LayoutNormal from '../layouts/LayoutNormal.astro';
---

<LayoutNormal title="Members">
    <Block>
        <Title
            heading="1"
            title="BTN Members"
        />
        <Text
            >Meet the members of the Better than Nicholas movement. Together, we will succeed.</Text
        >
    </Block>
    <Block>
        <AutoGrid
            desktopGap="sm:gap-8"
            desktopGrid="sm:grid-cols-[repeat(auto-fit,minmax(20rem,1fr))]"
            mobileGap="gap-4"
            mobileGrid="grid-cols-[repeat(auto-fit,minmax(20rem,1fr))]"
        >
            <div class="hidden" id="member-list"></div>
            <Member
                user={{
                    id: '0000000000000000000',
                    username: 'You',
                    avatar: '',
                    discriminator: '0000',
                    public_flags: 256,
                    flags: 256,
                    banner: null,
                    accent_color: 7506394,
                }}
            />
        </AutoGrid>
    </Block>
    <script>
        import '../scripts/members.js';
    </script>
</LayoutNormal>
