---
export interface Props {
    desktopGap: string;
    desktopGrid: string;
    mobileGap: string;
    mobileGrid: string;
}

const { desktopGap, desktopGrid, mobileGap, mobileGrid } = Astro.props as Props;
---

<div
    class={`grid w-full ${mobileGrid} items-stretch justify-items-stretch ${desktopGap} ${mobileGap} ${desktopGrid}`}
>
    <slot />
</div>
