---
export interface Props {
    heading?: string;
    id?: string,
}

const { heading, id } = Astro.props as Props;
---

<span class={`text-light-3 dark:text-dark-3 h${heading}`} id={id}><slot /></span>
